services:
  hytale:
    image: ghcr.io/zuedev/hytale-server-docker:main
    ports:
      - "5520:5520/udp"
    volumes:
      - ./data:/app/Hytale
    restart: unless-stopped
    stdin_open: true
    tty: true